@*Define modele*@
@model IEnumerable<Producer>


@*Define view data*@
@{
    ViewData["title"] = "Producers";
}


@*write code*@

<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Bio)</th>
      <th>Actions</th>
      
    </tr>
  </thead>
  <tbody> 
      @foreach (var item in Model)
      {
    <tr>
      <th scope="row"> 
          <img class = "rounded-circle" src = "@item.ProfilePictureURL"  style = "width: 75px"  />
      </th>
      <td>@item.FullName</td>
      <td>@item.Bio</td>
      <td>
           <div  role="group" aria-label="Basic example">
                <a type="button" asp-controller = "Producers" asp-action = "Edit" asp-route-id = "@item.Id" class="btn btn-primary"> <i class="bi bi-pen"></i> Edit</a>
                <a type="button" asp-controller = "Producers" asp-action = "Delete" class="btn btn-danger" asp-route-id = "@item.Id"> <i class="bi bi-trash"></i> Delete</a>
                <a type="button" asp-controller = "Producers" asp-action = "Details" asp-route-id = "@item.Id" class="btn btn-info"> <i class="bi bi-ticket-detailed"></i> Details</a>
          </div>
      </td>
    </tr>
          
      }
 
  </tbody>
</table>
<div style = "position:fixed ; right:25px ; bottom:25px" >
 <a asp-controller = "Producers" asp-action = "Create" class ="btn btn-primary" >  <i class="bi bi-plus-circle-fill"></i> ADD </a>
</div>


</div>
